{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Pool questions
</h1>
<div class="box">
  <div style="display: flex; justify-content: space-between; ">
    <p>Name: {{name}}</p>
    <p>My score: {{score}}/100</p>
  </div>
  <progress class="progress is-info" value="{{score}}" max="100">45%</progress>
</div>

{% if questions %}
  {% for question in questions %}
    <div class="box" style="display: flex; justify-content: space-between; align-items: center;">
      <p class="title" style="color: gray;">{{question.title}}</p>
      <a href="/question/{{question.id}}"><button class="button is-info">View it</button></a>
    </div>
  {% endfor %}
  
{% else %}
  <div class="box" style="display: flex; justify-content: space-between;">
    <p>Not found questions</p>
    <a href="/profile"><button class="button is-info">Update</button></a>
  </div>
{% endif %}

{% if role == 'admin' %}
  <a href="/add"><button class="button is-info">Add new question</button></a>
{% endif %}

{% endblock %}